.block {
	background:yellow;
	/*max-height:50px;*/
	border:5px;
	border-color:red;
	max-width:300px;
	-moz-border-radius: 15px;
	padding-left:5px;
	padding-right:10px;
	z-index:11;
}
.block:not(.block-inlist):last-of-type,.block-inlist{
	border-bottom-right-radius: 10px;
}
.block-instack {
	list-style-position:inside;
	position:relative;
	left:-20px;
	z-index:11;
}
.stack {
	list-style-type:none;
	list-style-position:inside;
	padding: 0;
	padding-bottom:10px;
	margin-left: 0;
	position:absolute;
	background:green;
	overflow:visible;
	max-height:100%;
	/*max-width:500px;*/
	min-width:100px;
	min-height:50px;
	background:green;
	z-index:-1;
	border-radius:5px;
}
#trash img {
	max-width:100px;
	max-height:100px;
	position:fixed;
	right:0px;
	bottom:0px;
	z-index:-1;
}
.createStack {
	background:green;
	max-height:50px;
	border:5px;
	max-width:300px;
}
.canvas {
	min-width:100%;
	min-height:100%;
	top:0px;left:0px;
	position:absolute;
	z-index:5;
	overflow:auto;
}
#objects li {
	border-style:solid;
	border-width:1px;
	border-color:orange;
}
custom-menu {
	list-style-type:none;
	list-style-position:inside;
	z-index:99;
	background:white;
	border-style:solid;
	border-width:1px;
	border-radius:5px;
	border-color:grey;
	min-width:100px;
	padding-left:-5px;
	margin-left:0px;
	font-size:14px;
	padding-right:500px;
}
custom-menu li, cmenu-item {
	width:100%;
	border-width:1px;
	border-color:white;
	border-style:solid;
	border-top-color:black;
	border-left-color:black;
	font-size:14px;
	position:relative;
	left:-3px;
	top:-3px;
	padding:0px;
	margin:0px;
	padding-right:5px;
}
custom-menu li:last-child, custom-menu cmenu-item:last-child {
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	margin-bottom:-6px;
	border-bottom-color:grey;
}
custom-menu li:first-child, custom-menu cmenu-item:first-child {
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}
custom-menu li:hover, custom-menu cmenu-item:hover {
	border-color:black;
	border-radius:5px;
}
cmenu-item {
	display:list-item;
}
.block-type-variable {
	background-color:#F000FC;
}
.data {
	border-radius:10px;
	background-color:#00FFFF;
	padding-left:5px;
}
.block-type-camera, .camera {
	background-color:#FF0040;
}
#webcam-ask {
	z-index: 1000;
}
#webcam-hide {
opacity:0.0;
filter:alpha(opacity=0);
}
#webcam-dialog {
background-color:#DDDDDD;
min-width:100px;
min-height:100px;
z-index:999;
}
.hide {
	z-index:9999;
	opacity:0;
}
#window {
	x-index:9999;
	opacity:1;
	width:300px;
	height:300px;
	border-width: 1px;
	border-color: black;
	border-radius: 5px;
}